.form-positioning-register {
  position: absolute;
  top: 30%;
  // left: 3%;
}

.registration-photo {
  width: 65vw;
  max-width: 800px;
  position: absolute;
  right: 5%;
  bottom: 3%;
}

.button {
  margin-top: 10px
}